<th:block xmlns:th="http://www.w3.org/1999/xhtml" th:fragment="footerFrag">
    <section class="pre-footer-corporate bg-image-7 bg-overlay-darkest" style="background-size: cover;">
        <div class="container">
            <div class="row justify-content-sm-center justify-content-lg-start row-30 row-md-60">
                <div class="col-sm-10 col-md-6 col-lg-10 col-xl-3">
                    <h6>About</h6>
                    <p>Extrafast is a professional web design agency that creates websites for corporate and individual customers. We also design and develop brands & web apps with intuitive user experiences and interactions, which work beautifully across all devices. If you are looking for a one-of-a-kind website for your company, we will be happy to design it for you.</p>
                </div>
                <div class="col-sm-10 col-md-6 col-lg-3 col-xl-3">
                    <h6>Navigation</h6>
                    <ul class="list-xxs">
                        <li><a href="#">About Us</a></li>
                        <li><a href="#">Our Team</a></li>
                        <li><a href="#">Services</a></li>
                        <li><a href="#">Portfolio</a></li>
                        <li><a href="#">Testimonials</a></li>
                    </ul>
                </div>
                <div class="col-sm-10 col-md-6 col-lg-5 col-xl-3">
                    <h6>Recent Comments</h6>
                    <ul class="list-xs">
                        <li>
                            <!-- Comment minimal-->
                            <article class="comment-minimal">
                                <p class="comment-minimal__author">Brian Williamson on</p>
                                <p class="comment-minimal__link"><a href="#">Site Speed and Search Engines Optimization Aspects</a></p>
                            </article>
                        </li>
                        <li>
                            <!-- Comment minimal-->
                            <article class="comment-minimal">
                                <p class="comment-minimal__author">Brian Williamson on</p>
                                <p class="comment-minimal__link"><a href="#">5 Things to Know Before You Buy an HTML Template</a></p>
                            </article>
                        </li>
                        <li>
                            <!-- Comment minimal-->
                            <article class="comment-minimal">
                                <p class="comment-minimal__author">Brian Williamson on</p>
                                <p class="comment-minimal__link"><a href="#">Turning Your Site into a Sales Machine</a></p>
                            </article>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-10 col-md-6 col-lg-4 col-xl-3">
                    <h6>Contacts</h6>
                    <ul class="list-xs">
                        <li>
                            <dl class="list-terms-minimal">
                                <dt>Address</dt>
                                <dd>4578 Marmora Road, Glasgow, D04 89GR</dd>
                            </dl>
                        </li>
                        <li>
                            <dl class="list-terms-minimal">
                                <dt>Phones</dt>
                                <dd>
                                    <ul class="list-semicolon">
                                        <li><a href="tel:#">(800) 123-0045</a></li>
                                        <li><a href="tel:#">(800) 123-0045</a></li>
                                    </ul>
                                </dd>
                            </dl>
                        </li>
                        <li>
                            <dl class="list-terms-minimal">
                                <dt>E-mail</dt>
                                <dd><a href="mailto:#">info@demolink.org</a></dd>
                            </dl>
                        </li>
                        <li>
                            <dl class="list-terms-minimal">
                                <dt>We are open</dt>
                                <dd>Mn-Fr: 10 am-8 pm</dd>
                            </dl>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
</th:block>

<th:block xmlns:th="http://www.w3.org/1999/xhtml" th:fragment="copyrightFrag">
    <footer class="footer-corporate bg-gray-darkest">
        <div class="container">
            <div class="footer-corporate__inner">
                <p class="rights">
                    <span>Favor</span>
                    <span>&nbsp;</span>
                    <span class="copyright-year"></span>. Всі права захищено.
<!--                    <a href="#">Terms of Use and Privacy Policy</a>-->
                </p>
                <ul class="list-inline-xxs">
                    <li><a class="icon icon-xxs icon-primary fa fa-facebook" href="#"></a></li>
                    <li><a class="icon icon-xxs icon-primary fa fa-twitter" href="#"></a></li>
                    <li><a class="icon icon-xxs icon-primary fa fa-google-plus" href="#"></a></li>
                    <li><a class="icon icon-xxs icon-primary fa fa-vimeo" href="#"></a></li>
                    <li><a class="icon icon-xxs icon-primary fa fa-youtube" href="#"></a></li>
                    <li><a class="icon icon-xxs icon-primary fa fa-pinterest" href="#"></a></li>
                </ul>
            </div>
        </div>
    </footer>
</th:block>