<th:block xmlns:th="http://www.w3.org/1999/xhtml" th:fragment="footerFrag">
    <section class="pre-footer-corporate bg-image-7 bg-overlay-darkest" style="background-size: cover;">
        <div class="container">
            <div class="row justify-content-sm-center justify-content-lg-start row-30 row-md-60">
                <div class="col-sm-10 col-md-6 col-lg-3 col-xl-3">
                    <h6>Навігація</h6>
                    <ul class="list-xxs">
                        <li><a href="/">Головна</a></li>
                        <li><a href="/shop">Магазин</a></li>
                        <li><a href="/collaboration">Умови співпраці</a></li>
                        <li><a href="/contacts">Контакти</a></li>
                    </ul>
                </div>
                <div class="col-sm-10 col-md-6 col-lg-9 col-xl-9">
                    <h6>Контакти</h6>
                    <ul class="list-xs">
                        <li>
                            <dl class="list-terms-minimal">
                                <dt>Адреса</dt>
                                <dd>Львів, вул. Промислова 27</dd>
                            </dl>
                        </li>
                        <li>
                            <dl class="list-terms-minimal">
                                <dt>Телефони</dt>
                                <dd>
                                    <ul class="list-semicolon">
                                        <li><a href="tel:#">(800) 123-0045</a></li>
                                        <li><a href="tel:#">(800) 123-0045</a></li>
                                    </ul>
                                </dd>
                            </dl>
                        </li>
                        <li>
                            <dl class="list-terms-minimal">
                                <dt>Пошта</dt>
                                <dd><a href="mailto:#">info@demolink.org</a></dd>
                            </dl>
                        </li>
                        <li>
                            <dl class="list-terms-minimal">
                                <dt>Графік роботи</dt>
                                <dd>Mn-Fr: 10 am-8 pm</dd>
                            </dl>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section></th:block>

<th:block xmlns:th="http://www.w3.org/1999/xhtml" th:fragment="copyrightFrag">
    <footer class="footer-corporate bg-gray-darkest">
        <div class="container">
            <div class="footer-corporate__inner">
                <p class="rights">
                    <span>Favor</span>
<!--                    <span>&nbsp;</span>-->
                    <span class="copyright-year"></span>. Всі права захищено.
<!--                    <a href="#">Terms of Use and Privacy Policy</a>-->
                </p>
                <ul class="list-inline-xxs">
                    <li><a class="icon icon-xxs icon-primary fa fa-facebook" href="#"></a></li>
                    <li><a class="icon icon-xxs icon-primary fa fa-twitter" href="#"></a></li>
                    <li><a class="icon icon-xxs icon-primary fa fa-google-plus" href="#"></a></li>
                    <li><a class="icon icon-xxs icon-primary fa fa-vimeo" href="#"></a></li>
                    <li><a class="icon icon-xxs icon-primary fa fa-youtube" href="#"></a></li>
                    <li><a class="icon icon-xxs icon-primary fa fa-pinterest" href="#"></a></li>
                </ul>
            </div>
        </div>
    </footer>
</th:block>