<!DOCTYPE html>
<html class="wide wow-animation" lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
  <head>
    <!-- Site Title-->
    <title>Контакти</title>
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <link rel="icon" href="images/favicon.png" type="image/x-icon">
    <!-- Stylesheets-->
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,900">
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/fonts.css">
		<!--[if lt IE 10]>
    <div style="background: #212121; padding: 10px 0; box-shadow: 3px 3px 5px 0 rgba(0,0,0,.3); clear: both; text-align:center; position: relative; z-index:1;"><a href="http://windows.microsoft.com/en-US/internet-explorer/"><img src="images/ie8-panel/warning_bar_0000_us.jpg" border="0" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today."></a></div>
    <script src="js/html5shiv.min.js"></script>
		<![endif]-->
  </head>
  <body>
    <div class="preloader">
      <div class="cssload-container">
        <div class="windows8">
          <div class="wBall" id="wBall_1">
            <div class="wInnerBall"></div>
          </div>
          <div class="wBall" id="wBall_2">
            <div class="wInnerBall"></div>
          </div>
          <div class="wBall" id="wBall_3">
            <div class="wInnerBall"></div>
          </div>
          <div class="wBall" id="wBall_4">
            <div class="wInnerBall"></div>
          </div>
          <div class="wBall" id="wBall_5">
            <div class="wInnerBall"></div>
          </div>
        </div>
      </div>
    </div>
    <!-- Page-->
    <div class="page">
      <!-- RD Navbar-->
      <div th:replace="~{admin/fragments/fragAdminHeader.html}"></div>


      <section class="section-md bg-default" id="contacts">
        <div class="container">
          <div class="row row-50">
            <div class="col-md-5 col-lg-4">
              <h4 class="heading-decorated">Contact Details</h4>
              <ul class="list-sm contact-info">
                <li>
                  <dl class="list-terms-inline">
                    <dt>Address</dt>
                    <dd>Львів, вул. Промислова 27</dd>
                  </dl>
                </li>
                <li>
                  <dl class="list-terms-inline">
                    <dt>Phones</dt>
                    <dd>
                      <ul class="list-semicolon">
                        <li><a href="tel:#">(800) 123-0045</a></li>
                        <li><a href="tel:#">(800) 123-0045</a></li>
                      </ul>
                    </dd>
                  </dl>
                </li>
                <li>
                  <dl class="list-terms-inline">
                    <dt>We are open</dt>
                    <dd>Mn-Fr: 10 am-8 pm</dd>
                  </dl>
                </li>
                <li>
                  <ul class="list-inline-sm">
                    <li><a class="icon-sm fa-facebook novi-icon icon" href="#"></a></li>
                    <li><a class="icon-sm fa-twitter novi-icon icon" href="#"></a></li>
                    <li><a class="icon-sm fa-google-plus novi-icon icon" href="#"></a></li>
                    <li><a class="icon-sm fa-vimeo novi-icon icon" href="#"></a></li>
                    <li><a class="icon-sm fa-youtube novi-icon icon" href="#"></a></li>
                    <li><a class="icon-sm fa-pinterest-p novi-icon icon" href="#"></a></li>
                  </ul>
                </li>
              </ul>
            </div>
            <div class="col-md-7 col-lg-8">
              <h4 class="heading-decorated">Get in Touch</h4>
              <!-- RD Mailform-->
              <form class="rd-mailform rd-mailform_style-1" data-form-output="form-output-global" data-form-type="contact" method="post" action="bat/rd-mailform.php">
                <div class="form-wrap form-wrap_icon linear-icon-man">
                  <input class="form-input" id="contact-name" type="text" name="name" data-constraints="@Required">
                  <label class="form-label" for="contact-name">Your name</label>
                </div>
                <div class="form-wrap form-wrap_icon linear-icon-telephone">
                  <input class="form-input" id="contact-phone" type="tel" name="tel" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" required>
                  <label class="form-label" for="contact-email">Your phone</label>
                </div>
                <button class="button button-primary" type="submit">send</button>
              </form>
            </div>
          </div>
        </div>
      </section>

      <section class="section" style="height: 80vh;">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2572.196401413382!2d24.03896291554131!3d49.85755523778821!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x473add04c89ed5e3%3A0xf07070dcae08de90!2sPromyslova%20St%2C%2027%2C%20L&#39;viv%2C%20L&#39;vivs&#39;ka%20oblast%2C%20Ukraine%2C%2079000!5e0!3m2!1sen!2spl!4v1614989346585!5m2!1sen!2spl" width="100%" height="100%" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
      </section>
      <!-- Page Footer-->
      <footer class="footer-corporate bg-gray-darkest">
        <div class="container">
          <div class="footer-corporate__inner">
            <p class="rights"><span>Extrafast</span><span>&nbsp;</span><span class="copyright-year"></span>. All Rights Reserved.<a href="#">Terms of Use and Privacy Policy</a></p>
            <ul class="list-inline-xxs">
              <li><a class="icon icon-xxs icon-primary fa fa-facebook" href="#"></a></li>
              <li><a class="icon icon-xxs icon-primary fa fa-twitter" href="#"></a></li>
              <li><a class="icon icon-xxs icon-primary fa fa-google-plus" href="#"></a></li>
              <li><a class="icon icon-xxs icon-primary fa fa-vimeo" href="#"></a></li>
              <li><a class="icon icon-xxs icon-primary fa fa-youtube" href="#"></a></li>
              <li><a class="icon icon-xxs icon-primary fa fa-pinterest" href="#"></a></li>
            </ul>
          </div>
        </div>
      </footer>
    </div>
    <!-- Modal login window-->
    <div class="modal fade" id="modalLogin" role="dialog">
      <div class="modal-dialog modal-dialog_custom">
        <!-- Modal content-->
        <div class="modal-dialog__inner">
          <button class="close" type="button" data-dismiss="modal"></button>
          <div class="modal-dialog__content">
            <h5 class="heading-decorated">Get in Touch</h5>
            <!-- RD Mailform-->
            <form class="rd-mailform rd-mailform_style-1" data-form-output="form-output-global" data-form-type="contact" method="post" action="bat/rd-mailform.php">
              <div class="form-wrap form-wrap_icon linear-icon-man">
                <input class="form-input" id="contact-popup-name" type="text" name="name" data-constraints="@Required">
                <label class="form-label" for="contact-popup-name">Your name</label>
              </div>
              <div class="form-wrap form-wrap_icon linear-icon-envelope">
                <input class="form-input" id="contact-popup-email" type="email" name="email" data-constraints="@Email @Required">
                <label class="form-label" for="contact-popup-email">Your e-mail</label>
              </div>
              <div class="form-wrap form-wrap_icon linear-icon-feather">
                <textarea class="form-input" id="contact-popup-message" name="message" data-constraints="@Required"></textarea>
                <label class="form-label" for="contact-popup-message">Your message</label>
              </div>
              <button class="button button-primary" type="submit">send</button>
            </form>
          </div>
        </div>
      </div>
    </div>
    <!-- Global Mailform Output-->
    <div class="snackbars" id="form-output-global"></div>
    <!-- Javascript-->
    <script src="js/core.min.js"></script>
    <script src="js/script.js"></script>
    <!-- coded by gel-->
  </body>
</html>