<!DOCTYPE html>
<html class="wide wow-animation" lang="en">
  <head>
    <!-- Site Title-->
    <title>Головна</title>
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <link rel="icon" href="images/favicon.png" type="image/x-icon">
    <!-- Stylesheets-->
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,900">
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/fonts.css">
		<!--[if lt IE 10]>
    <div style="background: #212121; padding: 10px 0; box-shadow: 3px 3px 5px 0 rgba(0,0,0,.3); clear: both; text-align:center; position: relative; z-index:1;"><a href="http://windows.microsoft.com/en-US/internet-explorer/"><img src="images/ie8-panel/warning_bar_0000_us.jpg" border="0" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today."></a></div>
    <script src="js/html5shiv.min.js"></script>
		<![endif]-->
  </head>
  <body>
    <div class="preloader">
      <div class="cssload-container">
        <div class="windows8">
          <div class="wBall" id="wBall_1">
            <div class="wInnerBall"></div>
          </div>
          <div class="wBall" id="wBall_2">
            <div class="wInnerBall"></div>
          </div>
          <div class="wBall" id="wBall_3">
            <div class="wInnerBall"></div>
          </div>
          <div class="wBall" id="wBall_4">
            <div class="wInnerBall"></div>
          </div>
          <div class="wBall" id="wBall_5">
            <div class="wInnerBall"></div>
          </div>
        </div>
      </div>
    </div>
    <!-- Page-->
    <div class="page">
      <header class="page-header">
        <!-- RD Navbar-->
        <div class="rd-navbar-wrap">
          <nav class="rd-navbar rd-navbar-default" data-layout="rd-navbar-fixed" data-sm-layout="rd-navbar-fixed" data-sm-device-layout="rd-navbar-fixed" data-md-layout="rd-navbar-fixed" data-md-device-layout="rd-navbar-fixed" data-lg-device-layout="rd-navbar-fixed" data-lg-layout="rd-navbar-static" data-xl-device-layout="rd-navbar-static" data-xl-layout="rd-navbar-static" data-xxl-device-layout="rd-navbar-static" data-xxl-layout="rd-navbar-static" data-stick-up-clone="false" data-sm-stick-up="true" data-md-stick-up="true" data-lg-stick-up="true" data-md-stick-up-offset="115px" data-lg-stick-up-offset="35px">
            <!-- RD Navbar Top Panel-->
            <div class="rd-navbar-inner rd-navbar-search-wrap">
              <!-- RD Navbar Panel-->
              <div class="rd-navbar-panel rd-navbar-search-lg_collapsable">
                <button class="rd-navbar-toggle" data-rd-navbar-toggle=".rd-navbar-nav-wrap"><span></span></button>
                <!-- RD Navbar Brand-->
                <div class="rd-navbar-brand"><a class="brand-name" href="index.html"><img src="images/logo-150x37.png" width="150" height="37" alt=""></a></div>
              </div>
              <!-- RD Navbar Nav-->
              <div class="rd-navbar-nav-wrap rd-navbar-search_not-collapsable">
                <!-- RD Navbar Nav-->
                <div class="rd-navbar-search_collapsable">
                  <ul class="rd-navbar-nav">
                    <li><a href="/home">Головна</a>
                    </li>
                    <li><a href="/shop">Магазин</a>
                    </li>
                    <li><a href="/collaboration">Умови співпраці</a>
                    </li>
                    <li><a href="/contacts">Контакти</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </nav>
        </div>
      </header>
      <!-- Swiper-->
      <section id="home">
        <div class="swiper-container swiper-slider swiper-slider_fullheight" data-simulate-touch="false" data-loop="false" data-autoplay="false">
          <div class="swiper-wrapper">
            <div class="swiper-slide context-dark bg-overlay-darker" data-slide-bg="images/EY1A1864.jpg">
              <div class="swiper-slide-caption text-center">
                <div class="container">
                  <h1 data-caption-animate="fadeInUpSmall"><span>Extrafast</span></h1>
                  <h3 data-caption-animate="fadeInUpSmall" data-caption-delay="200">Web Design Studio</h3>
                  <div class="group-lg group-middle"><a class="button button-primary" data-caption-animate="fadeInUpSmall" data-caption-delay="350" href="#features" data-custom-scroll-to="features">View more</a><a class="button button-black" data-caption-animate="fadeInUpSmall" data-caption-delay="350" href="#" data-toggle="modal" data-target="#modalLogin">Contact us</a></div>
                </div>
              </div>
            </div>
            <div class="swiper-slide context-dark bg-overlay-darker" data-slide-bg="images/2L4A9082.jpg">
              <div class="swiper-slide-caption">
                <div class="container">
                  <h2 data-caption-animate="fadeInLeftSmall">Designing Impressive<br class="d-none d-lg-block"> Websites for You</h2><a class="button button-primary" data-caption-animate="fadeInLeftSmall" data-caption-delay="200" href="#" data-toggle="modal" data-target="#modalLogin">Contact us</a>
                </div>
              </div>
            </div>
            <div class="swiper-slide context-dark bg-overlay-darker" data-slide-bg="images/pexels-castorly-stock-3682293.jpg">
              <div class="swiper-slide-caption text-center">
                <div class="container">
                  <div class="row justify-content-center">
                    <div class="col-lg-7">
                      <h2 data-caption-animate="fadeInUpSmall">Professional Web Design Services</h2>
                      <h5 class="text-width-2 block-centered" data-caption-animate="fadeInUpSmall" data-caption-delay="200">We provide quality web design solutions for individual and corporate clients worldwide.</h5>
                      <div class="group-lg group-middle"><a class="button button-black" data-caption-animate="fadeInUpSmall" data-caption-delay="350" href="#features" data-custom-scroll-to="features">View more</a><a class="button button-primary" data-caption-animate="fadeInUpSmall" data-caption-delay="350" href="#" data-toggle="modal" data-target="#modalLogin">Contact us</a></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Swiper Pagination-->
          <div class="swiper-pagination"></div>
          <!-- Swiper Navigation-->
          <div class="swiper-button-prev linear-icon-chevron-left"></div>
          <div class="swiper-button-next linear-icon-chevron-right"></div>
        </div>
      </section>
      <!-- Our Services-->
      <section class="section-md bg-default text-center">
        <div class="container">
          <h4 class="heading-decorated">Our Services</h4>
          <div class="row row-50 justify-content-md-center justify-content-lg-start">
            <div class="col-md-6 col-lg-4">
              <!-- Blurb circle-->
              <article class="blurb blurb-minimal">
                <div class="unit flex-row unit-spacing-md">
                  <div class="unit-left">
                    <div class="blurb-minimal__icon"><span class="icon linear-icon-feather"></span></div>
                  </div>
                  <div class="unit-body">
                    <p class="blurb__title"><a class="heading-6" href="#">Web Design</a></p>
                    <p>We design all kinds of websites for our clients – from landing pages to online stores.</p>
                  </div>
                </div>
              </article>
            </div>
            <div class="col-md-6 col-lg-4">
              <!-- Blurb circle-->
              <article class="blurb blurb-minimal">
                <div class="unit flex-row unit-spacing-md">
                  <div class="unit-left">
                    <div class="blurb-minimal__icon"><span class="icon linear-icon-magic-wand"></span></div>
                  </div>
                  <div class="unit-body">
                    <p class="blurb__title"><a class="heading-6" href="#">Branding</a></p>
                    <p>Our team of experts is always ready to help you create a proper brand image.</p>
                  </div>
                </div>
              </article>
            </div>
            <div class="col-md-6 col-lg-4">
              <!-- Blurb circle-->
              <article class="blurb blurb-minimal">
                <div class="unit flex-row unit-spacing-md">
                  <div class="unit-left">
                    <div class="blurb-minimal__icon"><span class="icon linear-icon-bag2"></span></div>
                  </div>
                  <div class="unit-body">
                    <p class="blurb__title"><a class="heading-6" href="#">Web Development</a></p>
                    <p>Developers at Extrafast can build websites and apps of any complexity.</p>
                  </div>
                </div>
              </article>
            </div>
          </div>
        </div>
      </section>
      <!-- About us-->
      <section class="bg-gray-lighter object-wrap" id="about">
        <div class="section-lg" style="font-size: 0.9rem;">
          <div class="container">
            <div class="row justify-content-end">
              <div class="col-lg-5">
                <h4 class="heading-decorated">Про нас</h4>
                <p>Купуючи взуття, хочеться купити щось якісне, комфортне і міцне, щоб служило довго. Відповідність таким вимогам може забезпечити продукція з натуральних матеріалів, від добре зарекомендував себе бренду.</p>
                <p>Хороші речі повинні бути міцними, довговічними, не втрачати гарний зовнішній вигляд, якщо дотримуватися правил догляду.</p>
                  <p>Компанія Favor - це львівський виробник взуття. Як і про компанії Viko, можу сказати що вони також є високоякісним виробником жіночої лінійки товарів.</p>
                 <p> Продукція фірми Favor говорить сама за себе, спробуйте і самі в цьому переконаєтеся.</p>
                 <p>Представниці прекрасної статі цілком зможуть підібрати для себе якісні та практичні товари. Хороші чоботи, напівчоботи і черевики в зимовий період. І щось актуальне влітку.</p>
                  <p>В асортимент даної компанії входять: туфлі, черевики, босоніжки, півчобітки, чоботи і шльопанці.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="object-wrap__body object-wrap__body-sizing-1 object-wrap__body-md-left bg-image" style="background-image: url(images/bg-image-1.jpg)"></div>
      </section>
      <!-- Posts-->
      <section class="section-md bg-default" id="news">
        <div class="container">
          <div class="row">
            <div class="col-sm-12 text-center">
              <h4 class="heading-decorated">Recent News</h4>
            </div>
          </div>
          <div class="row row-60">
            <!-- Owl Carousel-->
            <div class="owl-carousel owl-carousel-spacing-2" data-items="1" data-sm-items="2" data-xl-items="3" data-dots="true" data-nav="false" data-stage-padding="15" data-margin="30" data-autoplay="false" data-mouse-drag="false">
              <div class="owl-item">
                <!-- Post classic-->
                <article class="post-classic post-minimal"><a class="post-minimal-image" href="#"><img src="images/home-post-2-418x315.jpg" alt="" width="418" height="315"/></a>
                  <div class="post-classic-title">
                    <h6><a href="#">Якісні матеріали</a></h6>
                  </div>
                  <div class="post-classic-body">
                    <p>In this article, we have gathered a list of recent web design trends according to the world’s renowned web designers and their projects.</p>
                  </div>
                </article>
              </div>
              <div class="owl-item">
                <!-- Post classic-->
                <article class="post-classic post-minimal"><a class="post-minimal-image" href="#"><img src="images/home-post-1-418x315.jpg" alt="" width="418" height="315"/></a>
                  <div class="post-classic-title">
                    <h6><a href="#">Сучасне обладнання</a></h6>
                  </div>
                  <div class="post-classic-body">
                    <p>Bootstrap is the most popular HTML, CSS, and JS framework for developing responsive, mobile first projects on the web. Here’s how you can use it.</p>
                  </div>
                </article>
              </div>
              <div class="owl-item">
                <!-- Post classic-->
                <article class="post-classic post-minimal"><a class="post-minimal-image" href="#"><img src="images/home-post-3-418x315.jpg" alt="" width="418" height="315"/></a>
                  <div class="post-classic-title">
                    <h6><a href="#">Надійне пошиття</a></h6>
                  </div>
                  <div class="post-classic-body">
                    <p>Every website  requires clean design. It is the  basis of interfaces that are easy to interact with. Let’s discuss pros and cons of such approach.</p>
                  </div>
                </article>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- Counters-->
      <section class="section parallax-container context-dark" data-parallax-img="images/parallax-1.jpg">
        <div class="parallax-content">
          <div class="container section-md">
            <div class="row justify-content-md-center row-50">
              <div class="col-md-6 col-lg-3">
                <!-- Box counter-->
                <article class="box-counter">
                  <div class="box-counter__icon linear-icon-coffee-cup"></div>
                  <div class="box-counter__wrap">
                    <div class="counter">200</div>
                  </div>
                  <p class="box-counter__title">Пар взуття в день</p>
                </article>
              </div>
              <div class="col-md-6 col-lg-3">
                <!-- Box counter-->
                <article class="box-counter">
                  <div class="box-counter__icon linear-icon-cube"></div>
                  <div class="box-counter__wrap">
                    <div class="counter">10</div>
                  </div>
                  <p class="box-counter__title">Років на ринку</p>
                </article>
              </div>
              <div class="col-md-6 col-lg-3">
                <!-- Box counter-->
                <article class="box-counter">
                  <div class="box-counter__icon linear-icon-mustache-glasses"></div>
                  <div class="box-counter__wrap">
                    <!-- <span>></span> -->
                    <div class="counter">68</div>
                  </div>
                  <p class="box-counter__title">Моделей взуття</p>
                </article>
              </div>
              <div class="col-md-6 col-lg-3">
                <!-- Box counter-->
                <article class="box-counter">
                  <div class="box-counter__icon linear-icon-chevrons-expand-horizontal"></div>
                  <div class="box-counter__wrap">
                    <div class="counter">98</div><span>%</span>
                  </div>
                  <p class="box-counter__title">Позитивних відгуків</p>
                </article>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="section-md bg-default" id="features">
        <div class="container">
          <div class="row justify-content-md-center justify-content-lg-between row-50 align-items-center">
            <div class="col-md-8 col-lg-6">
              <h4 class="heading-decorated">Why Choose Us</h4>
              <!-- Blurb minimal-->
              <article class="blurb blurb-minimal">
                <div class="unit flex-row unit-spacing-md">
                  <div class="unit-left">
                    <div class="blurb-minimal__icon"><span class="icon linear-icon-rocket"></span></div>
                  </div>
                  <div class="unit-body">
                    <p class="blurb__title heading-6">Award-winning Expertise</p>
                    <p>Extrafast offers over 10 years of combined and diversified expertise in web design.</p>
                  </div>
                </div>
              </article>
              <!-- Blurb minimal-->
              <article class="blurb blurb-minimal">
                <div class="unit flex-row unit-spacing-md">
                  <div class="unit-left">
                    <div class="blurb-minimal__icon"><span class="icon linear-icon-equalizer"></span></div>
                  </div>
                  <div class="unit-body">
                    <p class="blurb__title heading-6">Quality of Work</p>
                    <p>Our team members are committed to high quality and they strive to do an excellent job.</p>
                  </div>
                </div>
              </article>
              <!-- Blurb minimal-->
              <article class="blurb blurb-minimal">
                <div class="unit flex-row unit-spacing-md">
                  <div class="unit-left">
                    <div class="blurb-minimal__icon"><span class="icon linear-icon-arrow-down-square"></span></div>
                  </div>
                  <div class="unit-body">
                    <p class="blurb__title heading-6">Innovative Approach</p>
                    <p>We use a lot of innovations in our working process, which helps us to achieve better results.</p>
                  </div>
                </div>
              </article>
            </div>
            <div class="col-md-7 col-lg-4">
              <figure class="image-sizing-1"><img src="images/home-business-1-391x642.png" alt="" width="391" height="642"/>
              </figure>
            </div>
          </div>
        </div>
      </section>

      <!-- Page Footer-->
      <section class="pre-footer-corporate bg-image-7 bg-overlay-darkest" style="background-size: cover;">
        <div class="container">
          <div class="row justify-content-sm-center justify-content-lg-start row-30 row-md-60">
            <div class="col-sm-10 col-md-6 col-lg-10 col-xl-3">
              <h6>About</h6>
              <p>Extrafast is a professional web design agency that creates websites for corporate and individual customers. We also design and develop brands & web apps with intuitive user experiences and interactions, which work beautifully across all devices. If you are looking for a one-of-a-kind website for your company, we will be happy to design it for you.</p>
            </div>
            <div class="col-sm-10 col-md-6 col-lg-3 col-xl-3">
              <h6>Navigation</h6>
              <ul class="list-xxs">
                <li><a href="#">About Us</a></li>
                <li><a href="#">Our Team</a></li>
                <li><a href="#">Services</a></li>
                <li><a href="#">Portfolio</a></li>
                <li><a href="#">Testimonials</a></li>
              </ul>
            </div>
            <div class="col-sm-10 col-md-6 col-lg-5 col-xl-3">
              <h6>Recent Comments</h6>
              <ul class="list-xs">
                <li>
                  <!-- Comment minimal-->
                  <article class="comment-minimal">
                    <p class="comment-minimal__author">Brian Williamson on</p>
                    <p class="comment-minimal__link"><a href="#">Site Speed and Search Engines Optimization Aspects</a></p>
                  </article>
                </li>
                <li>
                  <!-- Comment minimal-->
                  <article class="comment-minimal">
                    <p class="comment-minimal__author">Brian Williamson on</p>
                    <p class="comment-minimal__link"><a href="#">5 Things to Know Before You Buy an HTML Template</a></p>
                  </article>
                </li>
                <li>
                  <!-- Comment minimal-->
                  <article class="comment-minimal">
                    <p class="comment-minimal__author">Brian Williamson on</p>
                    <p class="comment-minimal__link"><a href="#">Turning Your Site into a Sales Machine</a></p>
                  </article>
                </li>
              </ul>
            </div>
            <div class="col-sm-10 col-md-6 col-lg-4 col-xl-3">
              <h6>Contacts</h6>
              <ul class="list-xs">
                <li>
                  <dl class="list-terms-minimal">
                    <dt>Address</dt>
                    <dd>4578 Marmora Road, Glasgow, D04 89GR</dd>
                  </dl>
                </li>
                <li>
                  <dl class="list-terms-minimal">
                    <dt>Phones</dt>
                    <dd>
                      <ul class="list-semicolon">
                        <li><a href="tel:#">(800) 123-0045</a></li>
                        <li><a href="tel:#">(800) 123-0045</a></li>
                      </ul>
                    </dd>
                  </dl>
                </li>
                <li>
                  <dl class="list-terms-minimal">
                    <dt>E-mail</dt>
                    <dd><a href="mailto:#">info@demolink.org</a></dd>
                  </dl>
                </li>
                <li>
                  <dl class="list-terms-minimal">
                    <dt>We are open</dt>
                    <dd>Mn-Fr: 10 am-8 pm</dd>
                  </dl>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </section>

      <footer class="footer-corporate bg-gray-darkest">
        <div class="container">
          <div class="footer-corporate__inner">
            <p class="rights"><span>Extrafast</span><span>&nbsp;</span><span class="copyright-year"></span>. All Rights Reserved.<a href="#">Terms of Use and Privacy Policy</a></p>
            <ul class="list-inline-xxs">
              <li><a class="icon icon-xxs icon-primary fa fa-facebook" href="#"></a></li>
              <li><a class="icon icon-xxs icon-primary fa fa-twitter" href="#"></a></li>
              <li><a class="icon icon-xxs icon-primary fa fa-google-plus" href="#"></a></li>
              <li><a class="icon icon-xxs icon-primary fa fa-vimeo" href="#"></a></li>
              <li><a class="icon icon-xxs icon-primary fa fa-youtube" href="#"></a></li>
              <li><a class="icon icon-xxs icon-primary fa fa-pinterest" href="#"></a></li>
            </ul>
          </div>
        </div>
      </footer>
    </div>
    <!-- Modal login window-->
    <div class="modal fade" id="modalLogin" role="dialog">
      <div class="modal-dialog modal-dialog_custom">
        <!-- Modal content-->
        <div class="modal-dialog__inner">
          <button class="close" type="button" data-dismiss="modal"></button>
          <div class="modal-dialog__content">
            <h5 class="heading-decorated">Get in Touch</h5>
            <!-- RD Mailform-->
            <form class="rd-mailform rd-mailform_style-1" data-form-output="form-output-global" data-form-type="contact" method="post" action="bat/rd-mailform.php">
              <div class="form-wrap form-wrap_icon linear-icon-man">
                <input class="form-input" id="contact-popup-name" type="text" name="name" data-constraints="@Required">
                <label class="form-label" for="contact-popup-name">Your name</label>
              </div>
              <div class="form-wrap form-wrap_icon linear-icon-envelope">
                <input class="form-input" id="contact-popup-email" type="email" name="email" data-constraints="@Email @Required">
                <label class="form-label" for="contact-popup-email">Your e-mail</label>
              </div>
              <div class="form-wrap form-wrap_icon linear-icon-feather">
                <textarea class="form-input" id="contact-popup-message" name="message" data-constraints="@Required"></textarea>
                <label class="form-label" for="contact-popup-message">Your message</label>
              </div>
              <button class="button button-primary" type="submit">send</button>
            </form>
          </div>
        </div>
      </div>
    </div>
    <!-- Global Mailform Output-->
    <div class="snackbars" id="form-output-global"></div>
    <!-- Javascript-->
    <script src="js/core.min.js"></script>
    <script src="js/script.js"></script>
    <!-- coded by gel-->
  </body>
</html>